.input {
  display: flex;
  width: 90%;
  position: relative;
  align-items: center;
}

.input__box {
  width: 100%;
  border-radius: 50px;
  padding: 20px 30px;
  font-size: 20px;
  border: none;
  transition: 0.2s;
  background-color: #f8d655;
}

.input__box:focus {
  box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.4);
  outline: none;
}

.input__submit {
  position: absolute;
  width: 50px;
  height: 50px;
  margin: 12px;
  border-radius: 50%;
  right: 0px;
  border: none;
  background-color: lightgray;
  color: black;
  transition: 0.2s all;
}

.input__submit:hover {
  background-color: white;
  transform: scale(0.8);
}

.todos {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  flex-wrap: wrap;
}

.todo__card {
  display: flex;
  width: 29.5%;
  height: 60px;
  border-radius: 15px;
  padding: 5px;
  margin-top: 15px;
  background-image: linear-gradient(#fff, #fff),
    linear-gradient(to right, red 0%, orange 100%);
  background-origin: border-box;
  background-clip: content-box, border-box;
  align-items: center;
  justify-content: space-around;
}

.todo__card--text {
  width: 35%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.todo__card--icons {
  display: flex;
  width: 30%;
  justify-content: space-evenly;
}

.icon {
  cursor: pointer;
}

@media (max-width: 700px) {
  .input {
    width: 95%;
  }

  .todos {
    width: 95%;
  }

  .todo__card {
    width: 100%;
  }

  .todo__card--text {
    width: 50%;
  }
}
